//
// Flat UI Pro main stylesheet that aggregates all modules
// --------------------------------------------------

// Loading config with variables (changing them leads to changing a color scheme)
@import "variables";

// Utility mixins for greater good
@import "mixins";

// Loading custom fonts
//@import url("https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");
@import "modules/local-fonts";
@import "modules/glyphicons";

// Modules
@import "modules/scaffolding";
@import "modules/type";
@import "modules/code";
@import "modules/thumbnails";
@import "modules/buttons";
@import "modules/button-groups";
@import "modules/forms";
@import "modules/input-groups";
@import "modules/radiocheck";
@import "modules/tagsinput";
@import "modules/typeahead";
@import "modules/progress-bars";
@import "modules/slider";
@import "modules/pager";
@import "modules/pagination";
@import "modules/tooltip";
@import "modules/dropdowns";
@import "modules/select";
@import "modules/navbar";
@import "modules/tiles";
@import "modules/switch";
@import "modules/video";
@import "modules/todo-list";
@import "modules/login";
@import "modules/palette";
@import "modules/share";
@import "modules/footer";

// Spaces
@import "modules/spaces";

//Print styles
@import "modules/print";
