//
// Select
// --------------------------------------------------

// Select container
.select2-container {
  display: inline-block;
  position: relative;
  .box-sizing(border-box);
  
  // Select wrapper
  > .selection {
    display: block; 

    > .select2-selection {
      display: block;
      position: relative;
      border: 2px solid @silver;
      border-radius: @border-radius-large;
      background-color: @inverse;
      color: @wet-asphalt;
    }
  }
  // active & focus states
  & .selection .select2-selection:focus,
  & .selection .select2-selection:active,
  &.select-container--open .selction .select2-selection {
    box-shadow: none;
    border-color: @turquoise;
    outline: none;
  }

}
// Select arrow
.select2-selection__arrow {
    position: absolute;
    top: 50%;
    right: 16px;
    width: 0;
    height: 0;
    margin-top: -3px;
    border-color: @silver transparent transparent transparent;
    border-style: solid;
    border-width: 7px 6px 0 6px;
    
    > b {
      display: none;
    }
}
.select2-container--open .select2-selection__arrow {
    border-color: transparent transparent @silver transparent;
    border-width: 0 6px 7px 6px;
}

// Select label
.select2-container .selection .select2-selection .select2-selection__rendered {
    display: block;
    padding: 9px 39px 8px 15px;
    font-size: @select-font-size-base;
    font-weight: @select-font-weight;
    line-height: @select-line-height-base;
}
/* Disabled state */
.select2-container.select2-container--disabled .selection .select2-selection {
    background-color: #e8eaea;
    color: #404040;
    opacity: @select-disabled-opacity;
}
.select2-container.select2-container--disabled .selection .select2-selection:focus,
.select2-container.select2-container--disabled .selection .select2-selection:active {
    border-color: #bdc3c7;
}
.select2-container.select2-container--disabled:hover {
    cursor: not-allowed;
}

// Alternate color variants
.select-default {
  .select-variant(@select-default-color, @select-default-bg, @select-default-hover-bg, @select-default-active-bg, @arrow-color: @inverse);
}
.select-primary {
  .select-variant(@select-default-color, @brand-secondary, @select-primary-hover-bg, @select-primary-active-bg, @arrow-color: @inverse);
}
.select-info {
  .select-variant(@select-default-color, @brand-info, @select-info-hover-bg, @select-info-active-bg, @arrow-color: @inverse);
}
.select-danger {
  .select-variant(@select-default-color, @brand-danger, @select-danger-hover-bg, @select-danger-active-bg, @arrow-color: @inverse);
}
.select-success {
  .select-variant(@select-default-color, @brand-success, @select-success-hover-bg, @select-success-active-bg, @arrow-color: @inverse);
}
.select-warning {
  .select-variant(@select-default-color, @brand-warning, @select-warning-hover-bg, @select-warning-active-bg, @arrow-color: @inverse);
}
.select-inverse {
  .select-variant(@select-default-color, @brand-primary, @select-inverse-hover-bg, @select-inverse-active-bg, @arrow-color: @inverse);
}

// Select sizes
.select-hg + .select2-container .selection .select2-selection .select2-selection__rendered,
.input-group-hg .select2-container .selection .select2-selection .select2-selection__rendered {
    .select-size(10px, 15px, @select-font-size-hg, @select-line-height-hg, @border-radius-large);
}
.select-lg + .select2-container .selection .select2-selection .select2-selection__rendered,
.input-group-lg .select2-container .selection .select2-selection .select2-selection__rendered {
    .select-size(10px, 15px, @select-font-size-lg, @select-line-height-lg, @border-radius-large);
}
.select-sm + .select2-container .selection .select2-selection .select2-selection__rendered,
.input-group-sm .select2-container .selection .select2-selection .select2-selection__rendered {
    .select-size(6px, 15px, @select-font-size-sm, @select-line-height-sm, @border-radius-large);
}


// Multiselect
//
// ##

// Multiselect container
.select2-selection--multiple {
    min-height: 45px;
    padding: 6px 1px 1px 6px;
    line-height: 0.8;

    // Multiselect tags wrapper
    & ul {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0;
      padding: 0 0 0 8px;
      list-style: none;
    }
    
    // Multiselect search field
    & .select2-search {
      float: left;
      width: inherit;
      padding: 0;

      & .select2-search__field  {
        border: none;
      }

    }

    // Multiselect tag
    & .select2-selection__choice {
      position: relative;
      float: left;
      margin: 0 7px 7px 0;
      padding: 6px 21px;
      border-radius: 4px;
      font-size: 13px;
      line-height: 15px;
      background-color: @btn-default-bg;
      color: #fff;
      -webkit-transition: .25s linear;
              transition: .25s linear;

      &:hover {
        padding-right: 28px;
        padding-left: 14px;
        background-color: @btn-hover-bg;
      }

      // Tag close icon
      > span {
        z-index: 2;
        position: absolute;
        top: 5px;
        right: 0;
        bottom: 0;
        width: 100%;
        padding: 0 10px 0 0;
        text-align: right;
        text-decoration: none;
        font-size: 18px;
        color: @inverse;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: opacity .25s linear;
        transition: opacity .25s linear;
      }

      &:hover > span {
        opacity: 1;
        -webkit-filter: none;
        filter: none;
      }

    }

}

// Multiselect tag
.select2-container .selection .select2-selection.select2-selection--multiple .select2-selection__rendered {
    padding: 0;
}

// Multiselect variants
// reseting colored background
select[multiple][class*="select-btn-"] + .select2-container .selection .select2-selection {
  background-color: #fff;
}
// Applying alternate colors
.multiselect-default[multiple] {
  .multiple-select-variant(@select-default-bg, @select-default-hover-bg, @select-default-bg);
}
.multiselect-primary[multiple] {
  .multiple-select-variant(@brand-secondary, @select-primary-hover-bg, @brand-secondary);
}
.multiselect-info[multiple] {
  .multiple-select-variant(@brand-info, @select-info-hover-bg, @brand-info);
}
.multiselect-danger[multiple] {
  .multiple-select-variant(@brand-danger, @select-danger-hover-bg, @brand-danger);
}
.multiselect-success[multiple] {
  .multiple-select-variant(@brand-success, @select-success-hover-bg, @brand-success);
}
.multiselect-warning[multiple] {
  .multiple-select-variant(@brand-warning, @select-warning-hover-bg, @brand-warning);
}
.multiselect-inverse[multiple] {
  .multiple-select-variant(@brand-primary, @select-inverse-hover-bg, @brand-primary);
}


// Select dropdown
//
// ##

// Dropdown container
.select2-container--open .select2-dropdown {
    position: relative;
    z-index: 10;
    left: 0;
}
.select2-dropdown {
    display: block;
    margin-top: 9px;
    border-radius: 4px;
    background-color: @select-dropdown-item-color;

    &.select2-dropdown--above {
      margin-top: -9px;
    }
}
// Search input
.select2-search {
    display: block;
    padding: 8px 6px;

    & .select2-search__field {
      width: 100%;
      padding: 6px 10px;
      border: 2px solid @silver;
      border-radius: 6px;
      font-size: 13px;
      line-height: 1.462;

      &:focus {
        border-color: @brand-secondary;
        outline: 0;
        box-shadow: none;
      }

    }
}
.select2-search.select2-search--hide {
  display: none;
}

// Result list
.select2-results ul {
    position: relative;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    list-style: none;

    & li {
      padding: 8px 16px;
      line-height: 1.429;
      font-size: 14px;
      -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
      -webkit-transition: background-color 0.25s, color 0.25s;
              transition: background-color 0.25s, color 0.25s;

      &[aria-selected="true"] {
        background-color: @select-dropdown-highlighted-item-bg;
        color: @select-dropdown-highlighted-item-color;
      }

      &[aria-disabled="true"] {
        color: @select-link-disabled-color;
      }

    }
}
// Highlighted item
.select2-results__option--highlighted {
    background-color: @select-dropdown-item-hover-bg;
}

// Adding top border radius to first slected item when search box is hidden
// + First Hovered item without search bar

.select2-search.select2-search--dropdown + .select2-results ul li:first-child[aria-selected="true"],
.select2-search.select2-search--dropdown + .select2-results ul li.select2-results__option--highlighted:first-child,
.select2-search.select2-search--dropdown.select2-search--hide + .select2-results ul li ul li:first-child[aria-selected="true"],
.select2-search.select2-search--dropdown.select2-search--hide + .select2-results ul li ul li.select2-results__option--highlighted:first-child {
    border-radius: 0 0 0 0;
}
.select2-results ul li:first-child[aria-selected="true"],
.select2-results ul li.select2-results__option--highlighted:first-child,
.select2-search.select2-search--dropdown.select2-search--hide + .select2-results ul li:first-child[aria-selected="true"],
.select2-search.select2-search--dropdown.select2-search--hide + .select2-results ul li.select2-results__option--highlighted:first-child {
    border-radius: 4px 4px 0 0;
}

// Adding bottom border radius to last slected item
// + Last Hovered item

.select2-results ul li[aria-selected="true"]:last-child,
.select2-results ul li.select2-results__option--highlighted:last-child {
    border-radius: 0 0 4px 4px;
}

// OPTION GROUP

.select2-results {
  & ul.select2-results__options--nested {
    max-height: inherit;
    overflow-x: auto;
    overflow-y: auto;
    margin: 16px -16px 0 -16px;
    padding: 0;
  }
  & ul li:last-child ul {
    margin: 16px -16px -8px -16px;
  }
  ul li[role="group"] {
    padding-top: 16px;
  }
}
.select2-results__group {
    text-transform: uppercase;
    font-weight: normal;
    color: @select-dropdown-optgroup-color;
}

// BOOTSTRAP HELPER CLASS

// Has-warning
.has-warning {
  & .select2-container .selection .select2-selection {
    border-color: @brand-warning;
    color: @brand-warning;

    & .select2-selection__arrow {
      border-color: @brand-warning transparent transparent transparent;
    }
  }
  & .select2-container.select2-container--open .selection .select2-selection .select2-selection__arrow {
    border-color: transparent transparent @brand-warning transparent;
  }
}
// Has-error
.has-error {
  & .select2-container .selection .select2-selection {
    border-color: @brand-danger;
    color: @brand-danger;

    & .select2-selection__arrow {
      border-color: @brand-danger transparent transparent transparent;
    }
  }
  & .select2-container.select2-container--open .selection .select2-selection .select2-selection__arrow {
    border-color: transparent transparent @brand-danger transparent;
  }
}
// Has-success
.has-success {
  & .select2-container .selection .select2-selection {
    border-color: @brand-success;
    color: @brand-success;

    & .select2-selection__arrow {
      border-color: @brand-success transparent transparent transparent;
    }
  }
  & .select2-container.select2-container--open .selection .select2-selection .select2-selection__arrow {
    border-color: transparent transparent @brand-success transparent;
  }
}

// Helpers
//
// ##

.form-control.select2-hidden-accessible,
.select2-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.select2-display-none {
  display: none;
}
