//
// Bootstrap Select
// --------------------------------------------------
// Credits: Silvio Moreto
// http://github.com/silviomoreto/bootstrap-select

.select {
  display: inline-block;
  margin-bottom: 10px;

  // Select grid
  &[class*="span"] {
    [class*="span"] > & {
      margin-left: 0; // No margin if select is a closest child of the grid
    }
    .btn {
      width: 100%; // Button should take all available space of its parent
    }
  }

  // Fluid width. Takes all available space and behaves like a block
  &.select-block {
    display: block;
    float: none;
    margin-left: 0;
    width: auto;
    .clearfix();

    .btn {
      width: 100%;
    }
    .dropdown-menu {
      width: 100%;
    }
  }
  
  
  // Button Sizes
  // --------------------------------------------------
  .btn {
    width: 220px; // Default select width until .span* is applied
    
    // Huge
    &.btn-hg {
      .filter-option {
        left: 20px;
        right: 40px;
        top: 13px;
      }
      .caret {
        right: 20px;        
      }
    }
    
    // Large
    &.btn-lg {
      .filter-option {
        left: 18px;
        right: 38px;
      }
    }
    
    // Small
    &.btn-sm {
      .filter-option {
        left: 13px;
        right: 33px;
      }
      .caret {
        right: 13px;
      }
    }
    
    // Exstra small
    &.btn-xs {
      .filter-option {
        left: 13px;
        right: 33px;
        top: 5px;
      }
      .caret {
        right: 13px;
      }
    }
    
    .filter-option {
      height: 26px;
      left: 13px;
      overflow: hidden;
      position: absolute;
      right: 33px;
      text-align: left;
      top: 10px;
    }
    .caret {
      position: absolute;
      right: 16px;
      top: 50%;
      margin-top: -3px;
    }
    .dropdown-toggle {
      border-radius: @border-radius-large;
    }

    // Dropdown menu
    .dropdown-menu {
      min-width: 100%;

      dt {
        cursor: default;
        display: block;
        padding: 3px 20px;
      }
      li {
        &:not(.disabled) > a:hover small {
          color: fade(@inverse, .4);
        }
        > a {
          min-height: 20px;
          
          &.opt {
            padding-left: 35px;
          }
        }
        small {
          padding-left: .5em;
        }
        > dt small {
          font-weight: normal;
        }
      }
    }

    // Disabled state
    > .disabled,
    .dropdown-menu li.disabled > a {
      cursor: default;
    }
  }

  // Caret
  .caret {
    .caret(@inverse);
  }
}

// Select2
// --------------------------------------------------
// Credits: Silvio Moreto
// https://gist.github.com/mongris/5141297
.select2-container .select2-choice {
border:2px solid #dce4ec;
font-family:Lato, sans-serif;
font-size:14px;
text-indent:1px;
-webkit-border-radius:6px;
-moz-border-radius:6px;
border-radius:6px;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none
}

.select2-container.select2-drop-above .select2-choice {
border-bottom-color:#dce4ec;
-webkit-border-radius:0 0 6px 6px;
-moz-border-radius:0 0 6px 6px;
border-radius:0 0 6px 6px
}

.select2-drop {
margin-top:-2px;
border:2px solid #dce4ec;
border-top:0;
-webkit-border-radius:0 0 6px 6px;
-moz-border-radius:0 0 6px 6px;
border-radius:0 0 6px 6px;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none
}

.select2-drop.select2-drop-above {
margin-top:2px;
border-top:2px solid #dce4ec;
border-bottom:0;
-webkit-border-radius:6px 6px 0 0;
-moz-border-radius:6px 6px 0 0;
border-radius:6px 6px 0 0;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none
}

.select2-container .select2-choice div {
border-left:2px solid #dce4ec;
-webkit-border-radius:0 4px 4px 0;
-moz-border-radius:0 4px 4px 0;
border-radius:0 4px 4px 0;
-webkit-background-clip:padding-box;
-moz-background-clip:padding;
background-clip:padding-box
}

.select2-search input {
height:30px!important;
border:2px solid #dce4ec
}

.select2-container-active .select2-choice,.select2-container-active .select2-choices {
border:2px solid #dce4ec;
outline:none;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none
}

.select2-dropdown-open .select2-choice {
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;
-webkit-border-bottom-left-radius:0;
-moz-border-radius-bottomleft:0;
border-bottom-left-radius:0;
-webkit-border-bottom-right-radius:0;
-moz-border-radius-bottomright:0;
border-bottom-right-radius:0
}

.select2-dropdown-open .select2-choice div {
background:transparent;
border-left:none;
filter:none
}

.select2-results .select2-highlighted {
background:#1abc9c;
color:#fff;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px
}

.select2-container-multi .select2-choices {
height:auto!important;
border:2px solid #dce4ec
}

.select2-container-multi.select2-container-active .select2-choices {
border:2px solid #dce4ec;
-webkit-border-radius:6px;
-moz-border-radius:6px;
border-radius:6px;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none
}